body{
    background-color : #f0f0f0;
    margin : 0;
}
/* html, body { height: 100%; width: 100%; } */
div { height: 80%; width: 40%}

.login, .registration{
    background-color: #f3e7cc
}
img{
    width :50%;
    height : 50%;
    margin: 0 auto;
    display: block;
}

input#ps1, input#ps2, input#validate{
    display : block;
    margin: 7% auto;
    width : 50%;
    border-top : none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    background-color: #f3e7cc;
    font-size: 100%;
}

input{
    display : block;
    margin: 0px 0px 0px 0px;
    width : 228px;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 15px;
    border-top : none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    background-color: #ffffff;
    font-size: 100%;
}
input#password{
    padding-left: 15px;
    padding-top: 5px;
    margin: 0 0 0 0;
    display : block;
    border-top : none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: rgb(255, 255, 255);
    font-size: 100%;
}
button{
    display : block;
    position: relative;
    margin: auto;
    background-color: #00368b;
    color: white;
    border : none;
    width: 50%;
    height: 30px;
    font-size: 100%;
}
form{
    
    width: auto;
    position: relative;
}
div{
    
    margin: 10% auto;
}
#submit{
    display: none;
}
#result1,#result2{
    text-align: center;
}
/* Beginning of login style */
div.login{
    position: relative;
    width: 411px;
    height: 731px;
    background-color: #14325E;
    opacity: 0.8;
    /* position: absolute; */
}
div.login_fields{
    position: absolute;
    top: 200px;
    left: 21px;
    right: 22px;
    width: 368px;
    height: 120px;
    margin: 0;
}
#logSuccess{
    position: absolute;
    width: 100%;
    top: 50%;
    color: white;
    text-align: center;
    font-size: 25px;
    margin: 0 0 0 0;

}
form.login_fields{
    margin: 0;
    position: absolute;
    top: 0;
    right: 51px;
    width: 243px;
    height: 84px;
    
}
span.fpassword{
    position: absolute;
    right: 60px;
    bottom: 0px;
    width: 171px;
    height: 24px;
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;

}
div.loginbttn{
    width: 375px;
    height: 96px;
    position: absolute;
    left: 18px;
    right: 18px;
    top: 413px;
    bottom: 222px;
    
}
div.loginbttn1{
    margin:0px;
    position: absolute;
    bottom: 27px;
    left: 65px;
    width: 250px;
    height: 42px;
    background-color: white;
    cursor: pointer;
}
span.loginbttn1{
    position: absolute;
    bottom: 12px;
    width: 223px;
    height: 18px;
    left: 15.5px;
    right:11.5px;
    background-color: white;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    
}
p.regPage{
    width:250px;
    height:24px; 
    position: absolute;
    left: 65px; 
    bottom: 0px; 
    margin:0px; 
    color:white; 
    font-weight: bold; 
    font-size:14px;
    cursor: pointer;
}
/* Beginning of User Profile Css */
#canvas{
    position: relative;
    width: 411px;
    height: 731px;
    background-color: #ffffff;
}
#banner{
    
    position: absolute;
    width: 411px;
    height: 51px;
    margin: 0 0 0 0;
    background-color: #14325E;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-align: center;
    padding-top: 25px;
}
#userName{
    position: absolute;
    left: 99px;
    top: 104px;
    width: auto;
    height: 32px;
    color: #000000;
    margin: 0 auto 0 auto;
    text-align: center;
    font-size: 30px;
    
}
#ecn{
    position: absolute;
    top: 234px;
    left: 43px;
    width: 324px;
    height: 32px;
    
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 30px;
    text-align: center;
    color: #000000;
    margin: 0 0 0 0;
}
#customerNumber{
    position: absolute;
    width: 350px;
    height: 101px;
    left: 30px;
    top: 315px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 52px;
}

#registerCustomer{
    position: absolute;
    width: 195px;
    height: 53px;
    left: 108px;
    top: 550px;
    font-size: 30px;
    background: #14325E;
}
#regResult{
    position: absolute;
    width: auto;
    height: auto;
    top: 463px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 25px;
    color: #000000;
    margin: 0 0 0 0;
    text-align: center;
}